.slider{
    margin: 20px 0;
}


.slider > button {
    opacity: 0;
    height: 100%;
    width: 5vw;
    z-index: 1;
}

.slider:hover {
    opacity: 1;
    transition: opacity 0.2s ease 0s;
}

.slider ul li button::before {
    font-size: 10px !important;
    color: rgb(150, 158, 171) !important;
}

li.slick-active button:before {
    color: white !important;
}

.slick-prev {
  left: 75px !important;
}

.slick-next {
  right: 75px !important;
}

.wrap{
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  padding: 0 15px;
  background: transparent;
}

.wrap span{
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
    rgb(0 0 0 / 73%) 0px 16px 10px -10px;
    cursor: pointer;
    display: block;
    position: relative;
    padding: 4px;
}

.wrap img{
    width: 100%;
    height: 100%;
}

.wrap span:hover{
    padding: 0;
    border: 4px solid rgba(249, 249, 249, 0.8);
    transition-duration: 300ms;
}